html,
body {
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
    margin: 0;
    padding: 0;
}

.Comment {
    font-style: italic;
    color: #bebebe;
}

.Comment a {
    color: #8d8c8c;
    text-decoration: none;
}

.Input {
    border: 1.2px solid grey;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 2rem;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

label {
    padding-left: 1rem;
}
