html,
body {
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
    margin: 0;
    padding: 0;
}

.Comment {
    font-style: italic;
    color: #bebebe;
}

.Comment a {
    color: #8d8c8c;
    text-decoration: none;
}
